{% extends "base.html" %}

{% block content %}
    <div class="container my-5">
        <div class="row g-4">
            <div class="col-md-8">
                <div class="hero-section p-4 mb-4">
                    <h1 class="display-4">Welcome to my toolbox</h1>
                    <p class="lead">Here is where I organize the libraries, frameworks, tools, languages, etc. that I know</p>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Recently Added Tools</h2>
                    </div>
                    <div class="card-body">{% include "components/tools.html" with tools=tools %}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2 class="card-title">Toolbox at a Glance</h2>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-4">
                                <div class="stat-number">{{ number_of_tools }}</div>
                                <div>Total Tools</div>
                            </div>
                            <div class="col-4">
                                <div class="stat-number">{{ number_of_lists }}</div>
                                <div>Lists</div>
                            </div>
                            <div class="col-4">
                                <div class="stat-number">{{ number_of_tags }}</div>
                                <div>Tags</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Last Updated Lists</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for list in last_updated_lists %}
                                <li class="list-group-item">
                                    <a href="{% url 'list-detail' list.slug %}">{{ list.name }}</a>
                                    <span class="text-muted align-right">
                                        at
                                        <time datetime="{{ list.updated_at|date:'Y-m-d' }}">{{ list.updated_at|date:'Y-m-d' }}</time>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
