{% extends "base.html" %}

{% block content %}
    <div class="container my-5">
        <div class="row g-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">All Lists</h2>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            {% for list in lists %}
                                <div class="col-md-3 col-sm-6">
                                    <div class="tag-card p-3">
                                        <a href="{% url 'list-detail' list.slug %}">
                                            <h5 class="tag-name">{{ list.name }}</h5>
                                        </a>
                                        <span class="badge bg-primary">{{ list.number_of_tools }} tools</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
