{% extends "base.html" %}

{% block content %}
    <div class="container my-5">
        <div class="row g-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">#{{ tag.name }}</h2>
                    </div>
                    <div class="card-body">
                        {% include "components/tools.html" with tools=tools %}
                        {% if number_of_tools > 100 %}<span>Showing 100 of {{ number_of_tools }} tools</span>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
