name: Publish on GitHub pages
on:
  push:
    branches: [master]
  schedule:
    - cron: "0 */6 * * *"
jobs:
  build:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: pipx install poetry
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'poetry'
      - run: make install
      - run: make datacollect github=${{ github.actor }}
      - run: make dbload
      - run: make build
      - name: Deploy
        run: |
          git config user.name "Automated Publisher"
          git config user.email "actions@users.noreply.github.com"
          git checkout -b gh-pages
          git add ./docs
          git commit --no-verify -m 'Deploy'
          git push --force origin gh-pages
      - if: ${{ failure() }}
        run: make datafix
      - if: ${{ failure() }}
        uses: peter-evans/create-pull-request@v7
        with:
          title: 'data: autofix'
          commit-message: 'data: autofix'
